<table>
    <thead>
        <td>Ability</td>
        <td>Base</td>
        <td>Race</td>
        <td>Theme</td>
        <td>Class</td>
    </thead>
    <tbody>
        <tr>            
            <td>                
                Strength                
            </td>
            <td>
                <button (click)="addPoint('strength')">+</button>
                {{(player$ | async)?.abilities?.["strength"]?.value }}
                <button (click)="subtractPoint('strength')">-</button>
            </td>            
        </tr>
        <tr>
            <td>
                Dexterity
            </td>
            <td>
                <button (click)="addPoint('dexterity')">+</button>
                {{(player$ | async)?.abilities?.["dexterity"]?.value }}
                <button (click)="subtractPoint('dexterity')">-</button>

            </td>            
        </tr>
        <tr>
            <td>
                Constitution
            </td>
            <td>
                <button (click)="addPoint('constitution')">+</button>
                {{(player$ | async)?.abilities?.["constitution"]?.value }}
                <button (click)="subtractPoint('constitution')">-</button>
            </td>
        </tr>
        <tr>
            <td>
                Intelligence
            </td>
            <td>
                <button (click)="addPoint('intelligence')">+</button>
                {{(player$ | async)?.abilities?.["intelligence"]?.value }}
                <button (click)="subtractPoint('intelligence')">-</button>
            </td>
        </tr>
        <tr>
            <td>
                Wisdom
            </td>
            <td>
                <button (click)="addPoint('wisdom')">+</button>
                {{(player$ | async)?.abilities?.["wisdom"]?.value }}
                <button (click)="subtractPoint('wisdom')">-</button>
            </td>
        </tr>
        <tr>
            <td>
                Charisma
            </td>
            <td> 
                <button (click)="addPoint('charisma')">+</button>               
                {{(player$ | async)?.abilities?.["charisma"]?.value }}
                <button (click)="subtractPoint('charisma')">-</button>
            </td>
        </tr>
        <tr>
            <td>
                Discretionary
            </td>
            <td colspan="2" align="center">
                {{(player$ | async)?.discretionary }}                
            </td>
        </tr>
        
    </tbody>
</table>
